.Bin2Dec {
  background-color: rgb(192, 131, 181);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  width: 50%;
  height: 350px;
  margin: auto;
  margin-top: 4%;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Bin2Dec input {
  font-size: 16px;
  width: 40%;
  display: block;
  margin: 0 auto;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.Bin2Dec input:focus {
  border: 1px solid rgb(212, 10, 212);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.Bin2Dec label {
  text-align: left;
  color: purple;
  display: block;
  width: 45%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 4%;
}

.Bin2Dec button {
  background-color: purple;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  outline: none;
  color: white;
  float: right;
  margin-left: 30%;
  margin-top: 15px;
  display: block;
  animation: transform 0.3s ease;
}

.Bin2Dec button:active {
  transform: scale(0.95);
}

.Header {
  border-bottom: 3px solid purple;
  padding-top: 3%;
  box-sizing: border-box;
  font-size: 2.5em;
  padding-bottom: 5px;
  margin-top: 0px;
}

@media only screen and (max-width: 600px) {
  .Header {
    font-size: 1em;
  }

  .Bin2Dec {
    width: 85%;
    height: 300px;
    margin-top: 12%;
  }
  .Bin2Dec input {
    width: 75%;
    height: 20px;
    font-size: 15px;
  }

  .Bin2Dec Label {
    text-align: left;
    padding-left: 20%;
    margin-left: 0%;
    width: 100%;
    font-size: 15px;
  }

  .Bin2Dec button {
    height: 30px;
    font-size: 15px;
    width: 80px;
    margin-left: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .Header {
    font-size: 1.2em;
  }
  .Bin2Dec {
    width: 70%;
    height: 300px;
    margin-top: 10%;
  }
  .Bin2Dec input {
    width: 75%;
    height: 20px;
    font-size: 15px;
  }

  .Bin2Dec Label {
    text-align: left;
    padding-left: 25%;
    margin-left: 0%;
    width: 100%;
    font-size: 15px;
  }

  .Bin2Dec button {
    height: 30px;
    font-size: 15px;
    width: 80px;
    margin-left: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    font-size: 1.5em;
  }
  .Bin2Dec {
    width: 60%;
    height: 350px;
  }
  .Bin2Dec input {
    width: 70%;
    height: 25px;
    font-size: 15px;
  }

  .Bin2Dec Label {
    text-align: left;
    padding-left: 28%;
    margin-left: 0%;
    width: 100%;
    font-size: 15px;
  }

  .Bin2Dec button {
    height: 30px;
    font-size: 15px;
    width: 80px;
    margin-left: 55%;
  }
}

@media only screen and (min-width: 992px) {
  .Header {
    font-size: 2em;
  }
  .Bin2Dec {
    width: 60%;
    height: 450px;
  }
  .Bin2Dec input {
    width: 50%;
    height: 30px;
    font-size: 16px;
  }

  .Bin2Dec Label {
    text-align: left;
    padding-left: 49%;
    margin-left: 0%;
    width: 100%;
    font-size: 20px;
  }

  .Bin2Dec button {
    height: 40px;
    font-size: 20px;
    width: 100px;
    margin-left: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .Header {
    font-size: 2em;
  }
  .Bin2Dec {
    width: 45%;
    height: 450px;
  }
  .Bin2Dec input {
    width: 50%;
    height: 30px;
    font-size: 16px;
  }

  .Bin2Dec Label {
    text-align: left;
    padding-left: 49%;
    margin-left: 0%;
    width: 100%;
    font-size: 20px;
  }

  .Bin2Dec button {
    height: 40px;
    font-size: 20px;
    width: 100px;
    margin-left: 40%;
  }
}
